.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
}

.icon {
  animation: rotation 1s infinite linear;
  width: 100px;
  margin-top: 20px;
}

p {
  font-weight: 600;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}
