@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

:root {
  --color-primary: #DC3D24;
  --color-primary-dark: #a32c19;
  --color-primary-darker: #7e2214;
  --color-primary-darkest: #52150c;
  --color-secondary: #3f3f3f;
  --color-secondary-dark: #383838;
}
* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: var(--color-secondary);
}

@media screen and (max-width: 600px) {

  *{
    font-size: 99%;
  }
  
}